/* GLOBAL STYLES */
a {
  color: #f00;
}
h2 {
  font-size: 30px;
}

/* BIO STYLES */
.bio-box {
  border: 1px solid black;
  font-size: 1em;
  width: 50%;
}

.bio-copy {
  font-size: 1em;
}

.bio-copy a {
  color: #0f0;
}

.bio-wrapper {
  font-size: 24px;
}

/* SOCIAL STYLES */
.social-link {
  background-color: rgba(150, 150, 150, 0.5);
  color: #00f;
}
